[submodule "miner/Waves"]
	path = miner/Waves
	url = https://github.com/wavesplatform/Waves.git
[submodule "miner/ccminer"]
	path = miner/ccminer
	url = https://github.com/tpruvot/ccminer.git
[submodule "miner/nheqminer"]
	path = miner/nheqminer
	url = https://github.com/nicehash/nheqminer.git
